table{
    width: fit-content;
    font-family: Arial;
    background-color: #F6F5F4;
    border: 1px solid #c5c5c5;
}

table th{
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 0 #6E6964;
    background: -moz-linear-gradient(center top, #c8BFB2 0%, #A49D92 100%) repeat scroll 0 0 transparent;
}

table tr td{
    padding: 7px;
    font-size: 13px;
    color: #666;
    background: #F8F8F8;
    border-top: 1px solid #ddd;
}

table tr.style td{
    background: #F1ECE2;
}

img{
    width: 400px;
    height: auto;
}